@font-face {
    font-family: 'REEJI-TaikoRiskGB-Flash';
    src: url('REEJI-TaikoRiskGB-Flash.eot');
    src: url('REEJI-TaikoRiskGB-Flash.eot?#iefix') format('embedded-opentype'),
        url('REEJI-TaikoRiskGB-Flash.woff2') format('woff2'),
        url('REEJI-TaikoRiskGB-Flash.woff') format('woff'),
        url('REEJI-TaikoRiskGB-Flash.ttf') format('truetype'),
        url('REEJI-TaikoRiskGB-Flash.svg#REEJI-TaikoRiskGB-Flash') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

