@font-face {
    font-family: 'RTWS YueRoundedGothic G0v1';
    src: url('RTWSYueRoudGoG0v1-Regular.woff2') format('woff2'),
        url('RTWSYueRoudGoG0v1-Regular.woff') format('woff'),
        url('RTWSYueRoudGoG0v1-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

